# ===============================
# Project Ignores
# ===============================
[Bb]in/
[Bb]in-int/

# ===============================
# Visual Studio
# ===============================
.vs/
*.sln
*.slnx
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.VC.db
*.VC.opendb

# ===============================
# Doxygen
# ===============================
docs/html/
docs/latex/
docs/rtf/
docs/man/
docs/xml/