# ===============================
# Project Ignores
# ===============================
/[Bb]in/
/[Bb]in-int/
/[Ll]og/

*.log
# ===============================
# Visual Studio
# ===============================
.vs/
*.sln
*.slnx
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.VC.db
*.VC.opendb

# ===============================
# Doxygen
# ===============================
docs/html/
docs/latex/
docs/rtf/
docs/man/
docs/xml/